.template-body .login-pf-page .card-pf {
  height: 594px;
}

@media (max-width: 499px) {
  #verify_password .modal .md_content {
    max-width: 296px;
    width: 100%;
    height: 180.1px;
    border-radius: 8px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: unset;
  }

  #verify_password .modal .md_content .md_content__header {
    display: block;
    margin: 36px 0 8px 0;
  }

  #verify_password
    .modal
    .md_content
    .md_content__header
    .md_content__header__title {
    margin: 36px 0 8px 0;
    color: #000000;
  }

  #verify_password .modal .md_content .md_content__text {
    font-size: 12px;
    color: #919ba4;
  }

  #verify_password
    .modal
    .md_content
    .md_content__header
    .md_content__header__close {
    display: none;
  }

  #verify_password .modal .md_content hr {
    display: none;
  }

  #verify_password .modal .md_content .button {
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-radius: 0 0 8px 8px;
    height: 52.1px;
    font-size: 13px;
    font-weight: 500;
    line-height: 52.1px;
  }

  #reset_password_complete .image {
    background-image: url(../img/Illust_password.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 0 auto 31px auto;
  }
}
